@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo img{
    width: 50px;
    margin: 10px
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353353;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}

li, a{
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 1s;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.nav-links li a:hover{
    background-color: crimson;
    color: white;
}

#check{
    display: none;
}

/* section1 start */
.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 545px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1, .container2{
    width: 50%;
}

.container1{
    margin-left: 200px;
    margin-bottom: 120px;
}

.container2{
    padding-right: 160px;
    margin-top: 50px;
}

.container2 img{
    max-width: 100%;
    height: auto;
}

.container1 h3{
    font-weight: normal;
}

.container1 h1{
    font-size: 50px;
}

.container1 P{
    color: rgba(78, 78, 78, 0.7);
}

.container1 button{
        font-size: 20px;
        border: none;
        transition: all 0.3s ease 0s;
        padding: 10px 20px;
        border-radius: 50px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

button:hover{
    color: rgb(54, 230, 31);
    background: rgba(17, 0, 169, 0.8);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
/* section2 start */
.section2{
    display: flex;
    width: 100%;
    height: 545px;
    justify-content: center;
    align-items: center;
}

.section2 div{
    width: 40%;
    margin: 0 auto;
}

.section2 img{
    width: 90%;
    height: auto;
}

.section2 .img2{
    padding-left: 150px;
}

.text2 h3{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
}

.text2 h1{
    font-weight: bold;
    font-size: 40px;
}

.text2 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.75);
    width: 80%;
}

.text2 button{
    font-size: 20px;
    border: none;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

/* section3 start */

.section3{
    width: 100%;
    height: 545px;
    margin: 0 auto;
    text-align: center;
}

.first-text h1{
    font-size: 40px;
}

.first-text p{
    width: 700px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}

.services{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.ser1, .ser2{
    width: 100%;
    overflow: hidden;
}

.ser2{
    padding-top: 30px;
}

.ser1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}

.services i{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
}

.services h1{
    color: rgba(0, 0, 0, 0.9);
}

.services p{
    color: rgba(0, 0, 0, 0.6);
}

.ser1 div:hover{
    background: #8293ff;
    cursor: pointer;
}

.ser2 div:hover{
    background: #8293ff;
    cursor: pointer;
}

.ser1 div:hover i{
    color: white;
}

.ser1 div:hover p{
    color: white;
}

.ser1 div:hover h1{
    color: white;
}

.ser2 div:hover i{
    color: white;
}

.ser2 div:hover p{
    color: white;
}

.ser2 div:hover h1{
    color: white;
}


/* section4 start */
.section4{
    width: 100%;
    height: 200px;
    background-color: #8293ff
}

.section4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left: 220px;
}

.section4 h1, p{
    text-align: center;
    color: white;
}

.section4 h1{
    font-size: 45px;
}



/* section5 start */
.section5{
    width: 100%;
    box-sizing: border-box;
}

.section5 .text3{
    text-align: center;
    margin-top: 40px;
}

.section5 .text3 h1{
    font-size: 35px;
}

.section5 .text3 p{
    color: rgba(0, 0, 0, 0.7);
    margin-top: -20px;
    margin-bottom: 30px;
}

.section5 .img{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}

.section5 .img div{
    width: 300px;
    height: 300px;
    text-align: center;
}

.section5 .img h1{
    font-size: 20px;
}

.section5 div{
    background: linear-gradient(40deg, #8490ff, 40%, #62bdfc, 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;
}

.section5 div img:hover{
    opacity: 0.3;
    transition: all .2s ease-in-out;
}

.section6 p{
    color: #000000;
}



/* pricing table */
.section6{
    width: 100%;
    height: 700px;
}

.section6 .text4{
    text-align: center;
    padding: 2% 0;
}

.section6 .text4 h1{
    font-size: 40px;
    padding-top: 15px;
}

.section6 p{
    color: rgba(0, 0, 0, 0.7);
}

.section6 .card{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.section6 .card1{
    width: 300px;
    height: 420px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.section6 .card1 h1{
    font-size: 40px;
    padding-top: 8px;
}

.section6 .card1 button{
    outline: none;
    background-color: #8293ff;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section6 .card1:hover{
    background-color: #8293ff;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    transform: scale(1.05);
    border: rgba(130, 147, 255, 0.5);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.section6 .card1:hover button{
    color: green;
    background-color: white;
}

.foot p{
    color: #000000;
}



/* footer start */
footer{
    background-color: #04091E;
    color: white;
    width: 100%;
    height: 250px;
    position: absolute;
}

footer .foot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 80px;
}

footer .foot .foot1 p{
    color: rgba(255, 255, 255, 0.5);
}

footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 80px;
}

footer .foot .foot1 button{
    font-size: 20px;
    outline: none;
    border: none;
    padding: 5px 10px;
}

footer .foot .foot1 i{
    font-size: 20px;
    cursor: pointer;
}